---
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with Love ❤️
      </h2>
      <p class="text-lg leading-relaxed">
        Welcome to Organic Baby Clothes, a haven for conscious parents seeking the very best for their little ones. 
        We are a heartful team dedicated to providing carefully picked selections of organic baby clothes.
      </p>
      <p class="text-lg leading-relaxed">
        We understand that your baby's well-being is your top priority. That's why we are passionate advocates for organic and sustainable baby clothing. 
        We believe that every child deserves to be wrapped in the purest, most gentle fabrics, free from harmful chemicals and toxins.
      </p>
      <p class="text-lg leading-relaxed">
        Our mission is simple yet profound: to offer a thoughtfully curated collection of organic baby clothes that not only nurture your little one's delicate skin but also protect the planet they will inherit. 
        We carefully source our products from trusted brands and artisans who share our commitment to sustainability, ensuring that every item meets the highest standards of quality, comfort, and eco-friendliness.
      </p>
      <p class="text-lg leading-relaxed">
        By choosing organic baby clothes, you are making a conscious choice to safeguard your child's health and the environment. Organic fabrics are lovingly cultivated without the use of pesticides, synthetic fertilizers, or genetically modified organisms. 
        This means that the clothes your baby wears are not only safer for their sensitive skin but also contribute to a healthier, greener world for generations to come.
      </p>
      <p class="text-lg leading-relaxed">
        But our dedication to sustainability doesn't stop there. We strive to minimize our ecological footprint at every step, from our packaging materials to our shipping practices. 
        We believe that small actions can make a big difference, and we are committed to being part of the solution.
      </p>
      <p class="text-lg leading-relaxed">
        Join us on this beautiful journey of parenthood, where style meets sustainability. 
        Explore our thoughtfully curated collection of organic baby clothes and discover the joy of dressing your little one in garments that are as pure and precious as they are.
      </p>
      </p>
      <p class="text-lg leading-relaxed">
        Thank you for visiting <text style="color: #00cc33;"> Organic Baby Clothes</text>. 
        Together, we can create a brighter, healthier future for our children, one organic garment at a time.
			</p>
    </div>
  </Container>
</Layout>
