---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Organic",
    description:`
      - Grown without chemicals, or GMOs that can irritate sensitive baby skin. 
      - Often uses safer, low-impact dyes rather than harsh industrial dyes. 
      - Supports organic farming practices that promote sustainability and biodiversity. 
      - Trusted organic certifications give peace of mind that baby's clothing is safe and gentle.
    `,
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Healty",
    description:`
      - Organic cotton and fabrics are hypoallergenic and less likely to cause skin irritation. 
      - Avoid dangerous chemicals that conventional cotton may contain. 
      - Breathable and designed to keep baby's skin dry and comfortable. 
      - Natural fibers like organic cotton allow baby's skin to breathe and regulate temperature.
      `,
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Comfortable",
    description:`
      - Extra soft fabrics worn close to delicate skin.
      - Flexible clothes that move with baby's natural motions. 
      - Designed for easy changing, dressing, and undressing. 
      `,
    icon: "bx:bxs-data",
  },
];

const { align = "center" } = Astro.props;
---

<div class:list={[align === "center" && "text-center"]}>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why Organic
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Secret originate from nature
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 section_card">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <ul class="text-slate-500 mt-2 leading-relaxed">
            {item.description.split('\n').map((line) => (
        <li>{line}</li>
      ))}
    </ul>
        </div>
      </div>
    ))
  }
</div>

<style>
  .section_card{
    display: grid;
    background-color: #e2ffe7;
    border-radius: clamp(1rem, 2rem, 3rem);
    padding: 1rem;
  }

</style>