---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/class.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="OBC"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welcome to
    </h1>
    <h1 class="text-5xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter" style="color: #00cc33;">
      Organic Baby Clothes
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Where style meets sustainability.
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Discover carefully curated collections of organic baby clothes, thoughtfully chosen for their purity, comfort, and eco-friendliness. 
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Join us in nurturing your little one's delicate skin while protecting the planet they will inherit. Choose organic, choose a brighter future.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        Learn more about us
      </Link>
    </div>
  </div>
</main>